#about1
  .row-fluid
    .span3
      .well.sidebar-nav
        %ul.nav.nav-list
          %li.nav-header Sidebar
          %li= link_to "About Us", "/feature"
          %li= link_to "Our Team", "/about"
          %li= link_to "Contact Us", "/about"
          %ul.nav.pull-right
#about2
#about3