#about1
  .row-fluid
    .span3
      .well.sidebar-nav
        %ul.nav.nav-list
          %li.nav-header Sidebar
          %li= link_to "Features 1", "/feature"
          %li= link_to "Feature 2", "/about"
          %li= link_to "Feature 3", "/about"
          %ul.nav.pull-right
#about2
#about3