#welcome
  = image_tag "Homepage images.png",:class => "welcome-image"
#details
  #content.details
    #third-container
      %p
        %h2 Patient Experience
      Hospitals try to give their patients the best care, but sometimes certain patients need a little extra
    #third-container
      %p
        %h2 Identify Problems Early
      Hospitals try to give their patients the best care, but sometimes certain patients need a little extra
    #third-container
      %p
        %h2 Provide Care
      Hospitals try to give their patients the best care, but sometimes certain patients need a little extra
#about
  #content
    #half
      %h2 Title
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit interdum sollicitudin. Aenean id dui diam. Aliquam tincidunt posuere lorem in sollicitudin. Quisque tempor, orci quis viverra tempus, massa lacus imperdiet nulla, sed convallis erat mi fringilla quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ac turpis vitae lorem gravida tincidunt a in enim. Etiam luctus ipsum tortor, sed interdum sapien. Quisque interdum enim sit amet justo facilisis luctus. Nunc nibh turpis, tempor at auctor eget, porta sed urna. In malesuada mauris dapibus orci tincidunt facilisis. Vestibulum mattis mattis metus, ut viverra neque lobortis.

    .well.large
      %h2 Our Customers

    #third-container-black
      %h2 Title
      %p Quisque interdum enim sit amet justo facilisis luctus. Nunc nibh turpis, tempor at auctor eget, porta sed urna. In malesuada mauris dapibus orci tincidunt facilisis. Vestibulum mattis mattis metus, ut viverra neque lobortis.
    #third-container-black
      %h2 Title
      %p Quisque interdum enim sit amet justo facilisis luctus. Nunc nibh turpis, tempor at auctor eget, porta sed urna. In malesuada mauris dapibus orci tincidunt facilisis. Vestibulum mattis mattis metus, ut viverra neque lobortis.
